<br/><br/>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Podaj adres email</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Wiadomość</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  <br/>
  <button action="submit" class="btn btn-info">Wyślij </button>
</div>