



<div class="section">
  <div class="display-6">
          <% @posts.each do |post| %>
            <h1 class="display-4"><%= link_to post.title, post %></h1>
            <p><%= post.body %></p>
            <p> 
               <%= post.author %> |
               <%= post.category %>
            </p>
            <hr class="my-4">
            
          <% end %>
    
 </div>